Form {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: rgb(37, 37, 144);
  
  
  /* background-image: linear-gradient(rgb(104, 129, 182), white);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  

}

 