img {
  height: 250px;
  width: 250px;
  border: 10px solid rgb(192, 200, 244);
}


body {
  font-family: 'Orbitron', sans-serif;
  color: rgb(37, 37, 144);
  background-image: linear-gradient(rgb(104, 129, 182), white);
}


body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 60px;
}


h2 {
  font-size: 40px;
  text-align: center;
}